<p id="notice"><%= notice %></p>

<%= image_tag @live_aboard.image_url %>

<p>
  <strong>Name:</strong>
  <%= @live_aboard.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @live_aboard.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @live_aboard.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @live_aboard.website %>
</p>

<%= link_to 'Edit', edit_live_aboard_path(@live_aboard), class: "btn btn-link" %> |
<%= link_to 'Back', live_aboards_path, class: "btn btn-link" %>
